{% extends 'base.html' %} 
{% block title %}Calendar{% endblock %}
{% block head %}
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.css' rel='stylesheet' />
{% endblock %}
{% block content %}
    <h1>Calendar</h1>
    <p>A calendar for you to check dates</p>
    <div id='calendar'></div>
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.1/main.min.js'></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            var calendarEl = document.getElementById('calendar');
            var calendar = new FullCalendar.Calendar(calendarEl, {
                initialView: 'dayGridMonth',
                events: [
                    // Example events
                    {
                        title: 'Event 1',
                        start: '2023-10-01'
                    },
                    {
                        title: 'Event 2',
                        start: '2023-10-05',
                        end: '2023-10-07'
                    }
                ]
            });
            calendar.render();
        });
    </script>
{% endblock %}