<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="sub-header">Student Dashboard</div>
            <div class="sub-header">Welcome {{ user.name }}!</div>
        </div>
        <div class="left-column">
            <div class="text-container">
                <div class="title">Notes</div>
                <div class="notes-list">
                    {% for note in user.notes %}
                        {% if note.category == 'notes' %}
                            <div class="note-item">
                                <h5>{{ note.title }}</h5>
                                <p class="note-id">ID: {{ note.id }}</p>
                                <p>{{ note.data }}</p>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="small-button" onClick="location.href='/notes'">View All</button>
            </div>
            <div class="text-container">
                <div class="title">Work Reminders</div>
                <div class="reminders-list">
                    {% for note in user.notes %}
                        {% if note.category == 'work_reminder' %}
                            <div class="reminder-item">
                                <h5>{{ note.title }}</h5>
                                <p class="note-id">ID: {{ note.id }}</p>
                                <p>{{ note.data }}</p>
                                <p class="dateline">Deadline: {{ note.deadline }}</p> <!-- Added deadline here -->
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
                <button class="small-button" onClick="location.href='/notes'">View All</button>
            </div>
        </div>
        <div class="buttons">
            <button class="button" onClick="location.href='/details'">My Profile</button>
            <button class="button" onClick="location.href='/timetable'">Timetable</button>
            <button class="button" onClick="location.href='/weather'">Weather</button>
            <button class="button" onclick="location.href='/calendar'">Calendar</button>
            <button class="button" onClick="location.href='/links'">Useful Links</button>
            <button class="button" onclick="location.href='/logout'">Logout</button>
        </div>
    </div>
</body>
</html>
