<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Dashboard</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='home.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
    <div class="container">
        <div class="header">
            <div class="sub-header">Student Dashboard</div>
            <div class="sub-header">Welcome {{ user.name }}!</div>
        </div>
        <div class="left-column">
            <div class="text-container">
                <div class="title">Notes</div>
                <div class="notes-list">
                    {% for note in user.notes %}
                    <div class="note-item">
                        <h5>{{ note.title }}</h5>
                        <p>{{ note.data }}</p>
                    </div>
                    {% endfor %}
                </div>
                <button class="small-button" onClick="location.href='/notes'">View All</button>
            </div>
            <div class="text-container">
                <div class="title">Homework+Exam Reminders</div>
                <div class="reminders-list">
                    {% for reminder in user.reminders %}
                    <div class="reminder-item">
                        <h5>{{ reminder.title }}</h5>
                        <p>{{ reminder.data }}</p>
                    </div>
                    {% endfor %}
                </div>
                <button class="small-button">View All</button>
            </div>
        </div>
        <div class="buttons">
            <button class="button">Your details</button>
            <button class="button">Timetable</button>
            <button class="button">Weather</button>
            <button class="button">Calendar</button>
            <button class="button">ASRJC Portal</button>
            <button class="button">Logout</button>
        </div>
    </div>
</body>
</html>
