{% extends 'base.html' %} 
{% block title %}Useful Links{% endblock %}
{% block content %}
<h1>Useful Links</h1>
<h2>All</h2>
<ul>
    <li><a href="https://portal.asrjc.edu.sg/">Portal</a></li>
</ul>

<h2>Math</h2>
<ul>
<li><a href="https://docs.google.com/document/u/0/d/11_Mfy3QM6j3pvTnzhAphViWnWitOw4Rv0ETQR5CoWFQ">Math Lectures</a></li>
</ul>

<h2>Physics</h2>
<ul>
    <li><a href="https://drive.google.com/file/d/14Ce7H9Xclk8wfn5KBgB5tolrdpHk0IDD/view">(Notes) Chapter 1: Measurements</a></li>
</ul>

<h2>Computing</h2>
<ul>
    <li><a href="https://mrlam.vip">Mr Lam's Student Response Portal</a></li>
    <li><a href="https://sites.google.com/moe.edu.sg/asrcomp24/asr-computing-2024-25?authuser=1">H2 Computing Website</a></li>
    <li><a href="https://drive.google.com/file/d/1EUGBVS5F-N6W54JN30lRGf3ddTFaCVYg">H2 Computing Insert</a></li>
</ul>
{% endblock %}