<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='loginlogout.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.ico') }}">
</head>
<body>
<!-- Displays flash messages for account creation outcomes -->
{% with messages = get_flashed_messages(with_categories=true) %} 
{% if messages %}
    {% for category, message in messages %}
    <!-- For unsuccessful account creations -->
    {% if category == 'error' %}
    <div class="alert alert-danger alter-dismissable fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <!-- For successful account creations -->
    {% else %}
    <div class="alert alert-success alter-dismissable fade show">
        {{ message }}
        <button type="button" class="close" data-dismiss="alert">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    {% endif %}
    {% endfor %}
{% endif %}
{% endwith %}

<div class="container">
    <div class="card">
        <div class="card-body">
            <h5 class="card-title text-center">Register</h5>
            <form action="{{ url_for('auth.register') }}", method="POST">
                <div class="form-group">
                    <label for="regName">Name</label>
                    <input type="text" class="form-control" id="regName" name="name" placeholder="Enter name" required>
                </div>
                <div class="form-group">
                    <label for="regEmail">Email address</label>
                    <input type="email" class="form-control" id="regEmail" name="email" placeholder="Enter email" required>
                </div>
                <div class="form-group">
                    <label for="regPassword">Password</label>
                    <input type="password" class="form-control" id="regPassword" name="password1" placeholder="Password" required>
                </div>
                <div class="form-group">
                    <label for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control" id="confirmPassword" name="password2" placeholder="Confirm Password" required>
                </div>
                <button type="submit" class="btn btn-custom btn-block">Register</button>
            </form>
            <p class="text-center mt-3">Already have an account? <a href="/login">Login</a></p>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>